<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>IntrAmarelux</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
    body {
    background-color: #3b435f;;
    }

    .Título {
    background-color: #eee232;
    } 
    .Card{
        margin-top:150px;
    }  
</style>
<body>
    <div class="container w-50">
        <div class="card Card">
            <div class="card-header Título">
                <h3>IntrAmarelux - Busca de Clientes</h3>           
            </div>
    
            <div class="card-body">
                <form class="form-inline justify-content-center" action="/clientes/email" method="POST">
                    <div class="input-group mb-3">
                        <label class="mr-2" for="email">Email: </label>
                        <input type="text" class="form-control mr-3" name='email' id='email' placeholder="email@email.com"/>
                        <button type="submit" class="btn btn-info">Pesquisar por Email</button>
                    </div>
                </form>
                <form class="form-inline justify-content-center" action="/clientes/cpf" method="POST">
                    <div class="input-group">
                        <label class="mr-2" for="cpf">CPF: </label>
                        <input type="text" class="form-control mr-3" name='cpf' id='cpf' placeholder="CPF"/>
                        <button type="submit" class="btn btn-info">Pesquisar por CPF</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>